client_id = "<client_id>"
client_secret = "<client_secret>"
tenant_id = "<tenant_id>"
subscription_id = "<subscription_id>"
managed_image_resource_group_name = "rg-isucon"

gallery_name = "sigforisucon"
image_name = "isucon-13-qualify"
image_version = "0.0.1"
replication_regions = ["japaneast"]
resource_group = "rg-isucon"
